<app-header></app-header>

<ng-container>
    <div class="offcanvas-overlay"></div>

    <!-- Sale Banner Section Start -->
    <div class="section section-padding" data-bg-image="assets/images/bg/home-2.webp">
        <div class="container">
            <div class="row learts-mb-n30">

                <div class="col-lg-5 col-12 ms-auto align-self-center learts-mb-30">
                    <div class="about-us">
                        <div class="inner">
                            <img class="logo " src="assets/images/logo/logo-3.webp" alt="Site Logo">
                            <h2 class="title">Making & crafting</h2>
                            <span class="special-title">Handicraft shop</span>
                            <p>Crafting beautiful stuff with our own hands and the help from useful tools is a wonderful
                                process, where you can enjoy yourself while pulling out some ideas and busy perfecting
                                your
                                work.</p>
                            <a href="#" class="link">Online Store</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-12 ms-auto learts-mb-30">
                    <div class="category-banner2">
                        <a href="shop.html" class="inner">
                            <div class="image"><img src="assets/images/banner/category/banner-s2-1.webp" alt=""></div>
                            <div class="content">
                                <h3 class="title">Toys<span class="number">6 items</span></h3>
                            </div>
                        </a>
                        <span class="banner-desc right">NEW COLLECTION</span>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-12 learts-mb-30">
                    <div class="category-banner2">
                        <a href="shop.html" class="inner">
                            <div class="image"><img src="assets/images/banner/category/banner-s2-2.webp" alt=""></div>
                            <div class="content">
                                <h3 class="title">Kniting & Sewing<span class="number">4 items</span></h3>
                            </div>
                        </a>
                        <span class="banner-desc right">SALE UP TO 40%</span>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-12 ms-auto learts-mb-30">
                    <div class="section-padding pb-0 d-none d-lg-block"></div>
                    <div class="category-banner2">
                        <a href="shop.html" class="inner">
                            <div class="image"><img src="assets/images/banner/category/banner-s2-3.webp" alt=""></div>
                            <div class="content">
                                <h3 class="title">Gift ideas<span class="number">16 items</span></h3>
                            </div>
                        </a>
                        <span class="banner-desc right">BEST SELLERS</span>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-12 ms-auto learts-mb-30">
                    <div class="section learts-pt-40 d-none d-lg-block"></div>
                    <div class="category-banner2">
                        <a href="shop.html" class="inner">
                            <div class="image"><img src="assets/images/banner/category/banner-s2-4.webp" alt=""></div>
                            <div class="content">
                                <h3 class="title">Home Decor<span class="number">16 items</span></h3>
                            </div>
                        </a>
                        <span class="banner-desc left">BEST SELLERS</span>
                    </div>
                </div>

                <div class="d-flex align-items-center col-lg-5 col-12 ms-auto learts-mb-30">
                    <div class="sale-banner3">
                        <span class="special-title">Spring sale</span>
                        <h2 class="title" data-text="ss – 18">Sale up to 10% all</h2>
                        <a href="#" class="link">ONLINE STORE</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Sale Banner Section End -->
</ng-container>

<app-footer></app-footer>